extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/sort-select.pug

block main 
    include ../../partials/swiperwatch.pug
    .container.my-3 
        .row 
            .col-8 
                +box-head(pageTitle)
            .col-4
                +sort-select()
        +product-grid(products)
        if(products.length > 4)
            button#see-more-btn Xem thêm sản phẩm