.section-2 
    .container
        .swiper.mySwiper2
            .swiper-wrapper
                    .swiper-slide
                        img(src="/images/a1.png" alt="")
                    .swiper-slide
                        img(src="/images/a2.png" alt="")
                    .swiper-slide
                        img(src="/images/a3.png" alt="")
                    .swiper-slide
                        img(src="/images/a4.jpg" alt="")
